* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 1rem;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

code {
  font-size: 1em;
}
